@import url(https://fonts.googleapis.com/css?family=Fjord+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    background-color: whitesmoke;
	font-family: 'Raleway', serif;
}

a {
    text-decoration: none;
    -webkit-transition: color 1.5s;
    -moz-transition:    color 1.5s;
    -ms-transition:     color 1.5s;
    -o-transition:      color 1.5s;
    transition:         color 1.5s;
}

a:link {
    color: lightslategray;
}

a:visited {
    color: lightslategray;
}

a:hover {
    color: darkslategray;
    -webkit-transition: color 0.75s;
    -moz-transition:    color 0.75s;
    -ms-transition:     color 0.75s;
    -o-transition:      color 0.75s;
    transition:         color 0.75s;
}

h1 {
    font-size: 55px;
	font-style: normal;
	font-family: 'Raleway', serif;/*'Montserrat';*/
	color: whitesmoke;
}

.whole {
    border: 0px solid;
    overflow: auto;
    @-webkit-overflow-scrolling:touch;
}

@-webkit-overflow-scrolling:touch;

.before-main {
}

.main { 
    width: 100%;
    position: absolute;
    top: 10%;
    -webkit-animation: fadein 3.5s; -moz-animation: fadein 3.5s; -ms-animation: fadein 3.5s; -o-animation: fadein 3.5s; animation: fadein 3.5s;
}


@keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-ms-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-o-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }


.links {
}

.link1 {
    width: 33%; float: left;
}

.link2 {
    width: 33%; float:left;
}

.link3 {
    width: 33%; float: left;
}

.personal {
    padding-left: 50px; padding-top: 10px; padding-right: 50px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    padding: 2px;
}