body {
    background-color: ghostwhite;
    font-family: 'Montserrat'
}

a {
    text-decoration: none;
    -webkit-transition: color 1.5s;
    -moz-transition:    color 1.5s;
    -ms-transition:     color 1.5s;
    -o-transition:      color 1.5s;
    transition:         color 1.5s;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightslategray;
    -webkit-transition: color 0.75s;
    -moz-transition:    color 0.75s;
    -ms-transition:     color 0.75s;
    -o-transition:      color 0.75s;
    transition:         color 0.75s;
}

h1 {
    font-size: 60px; font-style: normal; font-family: 'Montserrat';
}

.whole {
    border: 0px solid;
}

.before-main {
}

.main {
    
    width: 100%;
    position: fixed;
    top: 40%;
    margin-top: -150px;
}


.links {
    font-size: 20px;
}

.link1 {
    width: 33%; float: left;
}

.link2 {
    width: 33%; float:left;
}

.link3 {
    width: 33%; float: left;
}

.personal {
    padding-left: 50px; padding-top: 100px;
}