body {
    background-color: whitesmoke;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    -webkit-transition: color 1.5s;
    -moz-transition:    color 1.5s;
    -ms-transition:     color 1.5s;
    -o-transition:      color 1.5s;
    transition:         color 1.5s;
}

a:link {
    color: lightslategray;
}

a:visited {
    color: lightslategray;
}

a:hover {
    color: darkslategray;
    -webkit-transition: color 0.75s;
    -moz-transition:    color 0.75s;
    -ms-transition:     color 0.75s;
    -o-transition:      color 0.75s;
    transition:         color 0.75s;
}

h1 {
    font-size: 55px; font-style: normal; font-family: 'Montserrat'; color: whitesmoke;
}

.whole {
    border: 0px solid;
}

.before-main {
}

.main {
    width: 100%;
    position: fixed;
    top: 35%;
    margin-top: -150px;
    margin-left: -30px;
    padding-left: 20px;
    margin-right: 20px;
}


.links {
}

.link1 {
    width: 33%; float: left;
}

.link2 {
    width: 33%; float:left;
}

.link3 {
    width: 33%; float: left;
}

.personal {
    padding-left: 50px; padding-top: 10px; padding-right: 50px;
}