@import url(https://fonts.googleapis.com/css?family=Fjord+One);

body {
    background-color: black;
    font-family: 'Fjord One'; color: whitesmoke;
}

a {
    text-decoration: none;
    -webkit-transition: color 1.500s;
    -moz-transition:    color 1.500s;
    -ms-transition:     color 1.500s;
    -o-transition:      color 1.500s;
    transition:         color 1.500s;
}

a:link {
    color: lightslategray;
}

a:visited {
    color: lightslategray;
}

a:hover {
    color: darkslategray;
    -webkit-transition: color 0.75s;
    -moz-transition:    color 0.75s;
    -ms-transition:     color 0.75s;
    -o-transition:      color 0.75s;
    transition:         color 0.75s;
}

h1 {
    font-size: 55px; font-style: normal; font-family: 'Fjord One'; color: whitesmoke;
}

.whole {
    border: 0px solid;
    overflow: auto;
}

.before-main {
}

.main { 
    width: 100%;
    position: fixed;
    top: 35%;
    margin-top: -150px;
    margin-left: -30px;
    padding-left: 20px;
    margin-right: 20px;
    -webkit-animation: fadein 3.5s; -moz-animation: fadein 3.5s; -ms-animation: fadein 3.5s; -o-animation: fadein 3.5s; animation: fadein 3.5s;
}


@keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-ms-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-o-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }

.links {
}

.link1 {
    width: 33%; float: left;
}

.link2 {
    width: 33%; float:left;
}

.link3 {
    width: 33%; float: left;
}

.personal {
    padding-left: 50px; padding-top: 10px; padding-right: 50px;
}