body {
    background-color: whitesmoke;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    -webkit-transition: color 1.5s;
    -moz-transition:    color 1.5s;
    -ms-transition:     color 1.5s;
    -o-transition:      color 1.5s;
    transition:         color 1.5s;
}

a:link {
    color: indianred;
}

a:visited {
    color: indianred;
}

a:hover {
    color: darkred;
    -webkit-transition: color 0.75s;
    -moz-transition:    color 0.75s;
    -ms-transition:     color 0.75s;
    -o-transition:      color 0.75s;
    transition:         color 0.75s;
}

h1 {
    font-size: 55px; font-style: normal; font-family: 'Montserrat'; color: whitesmoke;
}

.whole {
    border: 0px solid;
    overflow: auto;
    width: 100%;
    @-webkit-overflow-scrolling:touch;
}

@-webkit-overflow-scrolling:touch;

.before-main {
}

.main { 
    width: 100%;
    position: absolute;
    top: 35%;
    margin-top: -150px;
    margin-left: -30px;
    padding-left: 20px;
    margin-right: 20px;
    -webkit-animation: fadein 3.5s; -moz-animation: fadein 3.5s; -ms-animation: fadein 3.5s; -o-animation: fadein 3.5s; animation: fadein 3.5s; }


@keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-ms-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-o-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }


.links {
}

.link1 {
    width: 33%; float: left;
}

.link2 {
    width: 33%; float:left;
}

.link3 {
    width: 33%; float: left;
}

.personal {
    padding-left: 50px; padding-top: 10px; padding-right: 50px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    padding: 2px;
}

.title {
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: skyblue;
}

.content {
}

.heading {
    font-size: 30px;
    z-index: 1000;
    background-color: skyblue;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}