body {
    background-color: ghostwhite; font-family: 'Montserrat'
}

a {
    text-decoration: none;
    -webkit-transition: color 1.5s;
    -moz-transition:    color 1.5s;
    -ms-transition:     color 1.5s;
    -o-transition:      color 1.5s;
    transition:         color 1.5s;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightslategray;
    -webkit-transition: color 0.75s;
    -moz-transition:    color 0.75s;
    -ms-transition:     color 0.75s;
    -o-transition:      color 0.75s;
    transition:         color 0.75s;
}

h1 {
    font-size: 50px; font-style: normal; font-family: 'Open Sans', sans-serif;
}

.whole {
    border: 0px solid;
}

.before-main {
    height: 344px;
}

.main {
    background-color: ghostwhite; border: 0px solid;
}

.links {
    border: 0px solid;
}

.link1 {
    border: 1px solid; width: 33%; float: left;
}

.link2 {
    border: 1px solid; width: 33%; float:left;
}

.link3 {
    border: 1px solid; width: 33%; float: left;
}