body {
    background-color: indianred;
}

h1 {
    font-size: 80px; font-style: normal; font-family: 'Montserrat', sans-serif;
}

main {
    background-color: white; border-color: 3px black; bottom: auto;
}